<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<div class="wrapper">
    <h1>Predict your income</h1>
    <form class="form" method="post" action="/Home/GetPredictionFromWebService">
        <input id="gender" name="gender" type="text" class="gender" placeholder="Gender">
        <div>

        </div>
        <input id="age" name="age" type="text" class="age" placeholder="Age">
        <div>

        </div>
        <input type="submit" class="submit" value="Predict">
    </form>
    <h1 id="result">@ViewBag.myData</h1>
</div>